{% load static %}
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
    <title>Cadastro de Professor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	<div class="container">
        <div class="container-login">
            <h1 class="container-title">Cadastro de Professor</h1>
            <div class="error-message">
                <!-- Mensagem de erro aqui -->
            </div>
            <p class="container-message">Parece que você é novo por aqui. Complete seu cadastro!</p>
            <form action="/confirmar_cadastro" method="post" class="container-form">
                {% csrf_token %}
                <p for="nome" class="container-infos">Nome</p>
                <input type="text" id="nome" name="nome" required class="container-input">
                <p class="container-infos">E-mail</p>
                <input type="email" id="login" name="login" required value="{{ login|default:'' }}" class="container-input">
                <p class="container-infos">Confirme a senha</p>
                <input type="password" id="senha" name="senha" required class="container-input">

                <br><button type="submit" class="container-button">Confirmar Cadastro</button>
            </form>
        </div>
    </div>
</body>
</html>